<section id="chart">
    <d3__chart :layout="layout" :chart-data="chartData" :axes="axes"></d3__chart>
</section>

<template id="d3__chart">
    <svg :view-box.camel="viewBox" preserveAspectRatio="xMidYMid meet">
        <g class="d3__stage" :style="stageStyle">
            <d3__axis
                v-for="axis in _.uniq(axes)"
                :axis="axis"
                :layout="layout"
                :scale="scale"
            ></d3__axis>
            <d3__series
                v-for="seriesData in chartData"
                :series-data="seriesData"
                :layout="layout"
                :scale="scale"
            ></d3__series>
        </g>
    </svg>
</template>

<template id="d3__axis">
    <g :class="[classList]" ref="axis" :style="style"></g>
</template>

<template id="d3__series">
    <g class="d3__series">
      <d3__area
                :layout="layout"
                :series-data="this.seriesData"
                :scale="this.scale">
      </d3__area>
      <d3__line
                :layout="layout"
                :series-data="this.seriesData"
                :scale="this.scale">
      </d3__line>
      <d3__scatter
                   :layout="layout"
                   :series-data="this.seriesData"
                   :scale="this.scale">
      </d3__scatter>
    </g>
</template>

<template id="d3__line">
    <path class="line" ref="line" :style="style"></path>
</template>

<template id="d3__area">
    <path class="area" ref="area" :style="style"></path>
</template>

<template id="d3__scatter">
    <g class="points">
        <d3__point
            v-for="pointData in seriesData.values"
            v-if="typeof pointData.value !== typeof null"
            :series-id="seriesData.id"
            :point-data="pointData"
            :layout="layout"
            :scale="scale"
        ></d3__point>
    </g>
</template>

<template id="d3__point">
    <circle class="point" ref="point" :style="style"></circle>
</template>
